@media ( max-width : 480px ) {
    .LoginPage {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
    }

    .LoginBodyDiv {
        align-items: center;
        border: 2px solid #fffffe;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: center;
        width: 90vw;
    }

    .LoginInputs {
        align-items: center;
        justify-content: center;
    }

    .LoginInputs div{
        align-items: center;
        border-radius: 1em 0 0 1em;
        display: flex;
        height: 5em;
        justify-content: center;
    }

    .LoginInputs input {
        background-color: #fffffe;
        border-radius: 0.8em;
        height: 3em;
        padding-left: 1em;
        width: 20em;
    }
    
    .LoginButton {
        background-color: #7f5af0;
        border: 0;
        border-radius: 0.8em;
        color: #fffffe;
        height: 3em;
        margin-top: 2em;
        width: 21em;
    }

}
