/* Telas menores que 481px*/

@media (max-width: 480px) {
  .SuccessScreenComponent {
    height: 100%;
  }

  .SuccessScreenComponent #ExitButton {
    background-color: #7f5af0;
    border: 0;
    border-radius: 0.8em;
    color: #fffffe;
    display: flex;
    margin-top: 1em;
    position: fixed;
    right: 5em;
  }

  .SuccessScreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }

  .SuccessScreen h1 {
    color: white;
    text-align: center;
  }

  .SuccessScreen img {
    width: 15em;
  }

  .Animation {
    margin-bottom: 1em;
    width: 25em;
  }

  .SuccessScreen #OkButton {
    align-items: center;
    background-color: #7f5af0;
    border: 0;
    border-radius: 0.8em;
    color: #fffffe;
    display: flex;
    height: 2em;
    justify-content: center;
    width: 3em;
  }
}

/* Telas maiores que 481px*/

@media (min-width: 481px) {
  .SuccessScreenComponent {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 1em;
    position: relative;
    width: 100%;
  }

  #ExitButton {
    background-color: transparent;
    border: 0;
    color: #fffffe;
    position: absolute;
    right: 7vw;
    top: 1em;
  }

  .SuccessScreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
    justify-self: center;
  }

  .SuccessScreen h1 {
    color: white;
    text-align: center;
  }

  .Animation {
    width: 15em;
  }

  .SuccessScreen #OkButton {
    align-items: center;
    background-color: #7f5af0;
    border: 0;
    border-radius: 0.6em;
    color: #fffffe;
    display: flex;
    font-size: 16px;
    height: 2em;
    justify-content: center;
    width: 8em;
  }
}
