@media ( max-width : 480px ) {
    .HeaderComponent {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 6em;
        justify-content: center;
        padding-right: 1em;
    }

    .User {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 1.5em;
        justify-content: center;
    }

    .User p {
        color: #fffffe;
        padding: 0.4em;
    }

    .User p svg{
        margin-right: 0.3em;
    }

    .BalanceDiv {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 0.8em;
    }

    .BalanceDiv button {
        background-color: transparent;
        border: 0;
        color: #fffffe;
        height: 2em;
        margin-right: 1em;
    }

    .Balance {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        color: #fffffe;
        display: flex;
        height: 1.5em;        
        justify-content: space-evenly;
        width: 10em;
    }

    #blur {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 1.5em;        
        justify-content: center;
        filter: blur(4px);
        width: 10em;
    }
}