@media ( max-width : 480px ) {
    .HeaderComponent {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 6em;
        justify-content: space-between;
        padding: 0  1em 0 2em;
    }

    .Logo  {
        align-items: center;
        background: linear-gradient(-90deg, rgb(66, 30, 173) 0%, rgba(127,90,240,1) 100%);
        border-radius: 1em;
        display: flex;
        justify-content: center;        
    }

    .Logo img {
        max-height: 9vh;
        max-width: 22vw;
        padding: 1em;
    }

    .Infos {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 6em;
        justify-content: center;
    }

    .User {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 1.5em;
        justify-content: center;
    }

    .User p {
        color: #fffffe;
        padding: 0.4em;
    }

    .User p svg{
        margin-right: 0.3em;
    }

    .BalanceDiv {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 0.8em;
    }

    .BalanceDiv button {
        background-color: transparent;
        border: 0;
        color: #fffffe;
        height: 2em;
        margin-right: 1em;
    }

    .Balance {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        color: #fffffe;
        display: flex;
        height: 1.5em;        
        justify-content: space-evenly;
        width: 10em;
    }

    #blur {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 1.5em;        
        justify-content: center;
        filter: blur(4px);
        width: 10em;
    }
}

@media ( min-width : 481px ) {
    .HeaderComponent {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 10em;
        justify-content: space-between;
        padding: 0  3em 0 5em;
    }

    .Logo  {
        align-items: center;
        background: linear-gradient(-90deg, rgb(66, 30, 173) 0%, rgba(127,90,240,1) 100%);
        border-radius: 1em;
        display: flex;
        justify-content: center;        
    }

    .Logo img {
        max-height: 9vh;
        max-width: 85vw;
        padding: 1em;
    }

    .Infos {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 6em;
        justify-content: center;
        padding-right: 1em;
    }

    .User {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 4em;
        justify-content: center;
    }

    .User p {
        color: #fffffe;
        font-size: 20px;
        padding: 0.4em;
    }

    .User p svg{
        margin-right: 0.3em;
    }

    .BalanceDiv {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 0.8em;
    }

    .BalanceDiv button {
        background-color: transparent;
        border: 0;
        color: #fffffe;
        height: 4em;
        margin-right: 1em;
    }

    .BalanceDiv button svg {
        font-size: 20px;
    }

    .Balance {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        color: #fffffe;
        display: flex;
        height: 4em;        
        justify-content: space-evenly;
        width: 10em;
    }

    #blur {
        align-items: center;
        background-color: #7f5af0;
        border: 1px solid #fffffe;
        border-radius: 0.5em;
        display: flex;
        height: 4em;        
        justify-content: center;
        filter: blur(4px);
        width: 10em;
    }
}