@media ( max-width : 480px ){
  .Table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 8px;
    text-align: center;
    width: 100vw;
  }

  .Table thead {
    background-color: #72757e;
    width: 100vw;
  }

  .Table thead tr {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 2em;
    justify-content: flex-start;
    width: 100vw;
  }

  .Table thead th {
    font-size: 20px;
    padding: 0 0 0 0.5em;
  }
  
  .Table .TableSubHeaderRow {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .Table .TableSubHeaderData {
    background-color: #fffffe;
    border-radius: 0.6em;
    font-size: 18px;
    font-weight: 4500;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    width: 5em;
  }

  .Table tr{
    display: flex;
    justify-content: space-evenly;
    padding: 0.1em;
  }

  #NameColumn {
    background-color: #ffc000
  }

  #QtyColumn {
    background-color: #595959;
    color: white;
  }

  #PriceColumn {
    background-color: black;
    color: white;
    width: 6em;
  }

  #ButtonsColumn {
    align-items: center;
    display: flex;
  }

  #BuyButton {
    align-items: center;
    background-color: #4059AD;
    display: flex;
    justify-content: center;
  }

  #SellButton {
    align-items: center;
    background-color: 6EEB83;
    display: flex;
    justify-content: center;
  }

  #SellButton:disabled {
    align-items: center;
    background-color: #6EEB83;
    display: flex;
    justify-content: center;
  }
  
  .Table tbody td {
    align-items: center;
    border-radius: 0.4em;
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    word-break: normal;
    width: 5em;
  }
  
  .Table td button {
    border: 0px solid #fffffe;
    border-radius: 100%;
    color: #fffffe;
    height: 25px;
    text-align: center;
    width: 25px;
  }
}