/* Telas menores que 481px*/

@media (max-width: 480px) {
  .Table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100vw;
  }

  .Table thead {
    background-color: #72757e;
    width: 100%;
  }

  .Table thead tr {
    align-items: center;
    background-color: #72757e;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .Table thead th {
    text-align: start;
    font-size: 20px;
    padding-left: 0.5em;
    width: 100%;
  }

  .Table .TableSubHeaderRow {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .Table .TableSubHeaderData {
    align-items: center;
    background-color: #fffffe;
    border-radius: 0.6em;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    width: 5em;
  }

  .Table tr {
    display: flex;
    justify-content: space-evenly;
    padding: 0.1em;
    width: 100%;
  }

  #NameColumn {
    background-color: #ffc000;
    width: 5em;
  }

  #QtyColumn {
    background-color: #595959;
    color: white;
    width: 5em;
  }

  #PriceColumn {
    background-color: black;
    color: white;
    width: 5em;
  }

  #TotalPriceColumn {
    background-color: #337357;
    color: white;
    height: 2em;
    width: 5.26em;
  }

  #ButtonsColumn {
    align-items: center;
    display: flex;
    width: 5em;
  }

  #BuyButton {
    align-items: center;
    background-color: #4059ad;
    display: flex;
    justify-content: center;
  }

  #SellButton {
    align-items: center;
    background-color: #6eeb83;
    display: flex;
    justify-content: center;
  }

  #SellButton:disabled {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
  }

  .Table tbody td {
    align-items: center;
    border-radius: 0.4em;
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    margin: 0;
    width: 4.5em;
  }

  .Table td button {
    border: 0;
    border-radius: 100%;
    color: #fffffe;
    height: 25px;
    text-align: center;
    width: 25px;
  }
}

/* Telas maiores que 481px*/

@media (min-width: 481px) {
  .Table {
    align-self: center;
    border-collapse: collapse;
    border-spacing: 0;
    justify-content: center;
    text-align: center;
    width: 70vw;
  }

  .Table thead {
    background-color: #72757e;
    width: 100%;
  }

  .Table thead tr {
    align-items: center;
    background-color: #72757e;
    border-left: 1px solid #fffffe;
    border-right: 1px solid #fffffe;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .Table thead th {
    font-size: 20px;
    padding-left: 0.5em;
    text-align: start;
    width: 100%;
  }

  .Table .TableSubHeaderRow {
    background-color: #fffffe;
    border-left: 1px solid #fffffe;
    border-right: 1px solid #fffffe;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .Table #ButtonsHeader {
    width: 75%;
  }

  .Table .TableSubHeaderData {
    background-color: #fffffe;
    font-size: 20px;
    font-weight: 400;
    margin: 0.2em 0 0.2em 0;
    width: 100%;
  }

  .Table tr {
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  #NameColumn {
    background-color: #ffc000;
    height: 2em;
    width: 100%;
  }

  #QtyColumn {
    background-color: #595959;
    color: white;
    height: 2em;
    width: 100%;
  }

  #PriceColumn {
    background-color: black;
    color: white;
    height: 2em;
    width: 100%;
  }

  #TotalPriceColumn {
    background-color: #337357;
    color: white;
    height: 2em;
    width: 100%;
  }

  #ButtonsColumn {
    align-items: center;
    display: flex;
    width: 70%;
  }

  #BuyButton {
    align-items: center;
    background-color: #4059ad;
    display: flex;
    font-size: 18px;
    height: 1.3em;
    justify-content: center;
    width: 1.3em;
  }

  #SellButton {
    align-items: center;
    background-color: #6eeb83;
    display: flex;
    font-size: 18px;
    height: 1.3em;
    justify-content: center;
    width: 1.3em;
  }

  #SellButton:disabled {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
  }

  .Table tbody td {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 0;
    width: 4.5em;
  }

  .Table td button {
    border: 0;
    border-radius: 100%;
    color: #fffffe;
    height: 25px;
    text-align: center;
    width: 25px;
  }

  #BlankRow {
    display: none;
  }
}
