@media ( max-width : 480px ){
  .Table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100vw;
  }

  .Table thead {
    background-color: #72757e;
    width: 100%;
  }

  .Table thead tr {
    align-items: center;
    background-color: #72757e;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .Table thead th {
    text-align: start;
    font-size: 20px;
    padding-left: 0.5em;
    width: 100%;
  }
  
  .Table .TableSubHeaderRow {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .Table .TableSubHeaderData {
    background-color: #fffffe;
    border-radius: 0.6em;
    font-size: 16px;
    font-weight: 4500;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    width: 6em;
  }

  .Table tr{
    display: flex;
    justify-content: space-evenly;
    padding: 0.1em;
    width: 100%;
  }

  #NameColumn {
    background-color: #ffc000;
  }

  #QtyColumn {
    background-color: #595959;
    color: white;
  }

  #PriceColumn {
    background-color: black;
    color: white;
    width: 6em;
  }

  #ButtonsColumn {
    align-items: center;
    display: flex;
  }

  #BuyButton {
    align-items: center;
    background-color: #4059AD;
    display: flex;
    justify-content: center;
  }

  #SellButton {
    align-items: center;
    background-color: #6EEB83;
    display: flex;
    justify-content: center;
  }

  #SellButton:disabled {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
  }
  
  .Table tbody td {
    align-items: center;
    border-radius: 0.4em;
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 0;
    width: 4.5em;
  }
  
  .Table td button {
    border: 0;
    border-radius: 100%;
    color: #fffffe;
    height: 25px;
    text-align: center;
    width: 25px;
  }
}

@media ( min-width : 481px ){
  .Table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100vw;
  }

  .Table thead {
    background-color: #72757e;
    width: 100%;
  }

  .Table thead tr {
    align-items: center;
    background-color: #72757e;
    border: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .Table thead th {
    font-size: 20px;
    padding-left: 0.5em;
    text-align: start;
    width: 100%;
  }
  
  .Table .TableSubHeaderRow {
    background-color: #fffffe;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .Table .TableSubHeaderData {
    background-color: #fffffe;
    font-size: 25px;
    font-weight: 450;
    margin: 0.5em 0 0.5em 0;
    width: 100%;
  }

  .Table tr{
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  #NameColumn {
    background-color: #ffc000;
    height: 2em;
    width: 100%;
  }
  
  #QtyColumn {
    background-color: #595959;
    color: white;
    height: 2em;
    width: 100%;
  }
  
  #PriceColumn {
    background-color: black;
    color: white;
    height: 2em;
    width: 100%;
  }

  #TotalPriceColumn {
    background-color: #337357;
    color: white;
    height: 2em;
    width: 100%;
  }
  
  #ButtonsColumn {
    align-items: center;
    display: flex;
    height: 2em;
    width: 100%;
  }

  #BuyButton {
    align-items: center;
    background-color: #4059AD;
    display: flex;
    font-size: 26px;
    height: 1.3em;
    justify-content: center;
    width: 1.3em;
  }
  
  #SellButton {
    align-items: center;
    background-color: #6EEB83;
    display: flex;
    font-size: 26px;
    height: 1.3em;
    justify-content: center;
    width: 1.3em;
  }

  #SellButton:disabled {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
  }
  
  .Table tbody td {
    align-items: center;
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
    margin: 0;
    width: 4.5em;
  }
  
  .Table td button {
    border: 0;
    border-radius: 100%;
    color: #fffffe;
    height: 25px;
    text-align: center;
    width: 25px;
  }

  #BlankRow {
    display: none;
  }
}
